@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<List<Template2.Models.ActivitiesModel>>
<style>
    .button-result-selection {
        background-color: #FC80A5;
        border-radius: 10px;
        margin: auto;
        text-align: center;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        
    }

        .button-result-selection:hover {
            background-color: #FED85D;
        }

        .button-result-selection:active {
            background-color: #C9A0DC;
        }
        </style>
<div class="third_page">
    <div class="select">
        Let’s select preferred schedule
    </div>
    <div class="third_page_center">
        
        <div class="variants">
             <div class="tablesheet">
                    <table class="list-activities">
                        
                        @foreach( var item in Model.ToList()[0])
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Activity)</td>
                                <td>@Html.DisplayFor(m => item.Time)</td>
                            </tr>
                        }
                        
                    </table>
                    </div>
            @Html.
            
            ActionLink("Select", "PreFinalPage", "HomeController", Model.ToList()[0], new { @class = "button-result-selection" })
            </div>
            <div class="variants">
                <div class="tablesheet">
                    <table class="list-activities"> 
                        @foreach (var item in Model.ToList()[1])
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Activity)</td>
                                <td>@Html.DisplayFor(m => item.Time)</td>
                            </tr>
                        }
                    </table>
                    
                </div>
            @Html.ActionLink("Select", "PreFinalPage", "HomeController", Model.ToList()[1], new { @class = "button-result-selection" })
            </div>
        
    </div>
</div>